html, body, #app {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}
/*解决出现滚动条*/
.el-card {
  box-sizing: border-box;
}

/*el-卡片组件*/
.el-card__body {
  box-sizing: border-box !important;
}
